body{
    background-color: #404040;
}
#testimonials{

    background-image: url(/src/pageAboutUs/img/background.jpg);
    background-size: cover;
    border : 2px solid black;
    margin: 0 auto; 
}

h1{
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
}

.author{

    color: #404040;
    background-color: #fff;
    border-radius: 4px;
    margin: 30px;
    padding: 25px;
    font-size: 20px;
    height: 220px;
    width: 40%;
    border-bottom: 4px solid #0e0e0e;
    float: left;
    
}

.author-wrapper{
    margin-top: 20px;
}

.author-pic{

    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
    margin-right: 6px;
    float: left;
    overflow: hidden;
}

img{

    width: 100%;
}

.author-name{
    font-weight: bold;
    margin: 10px;
    padding-top: 25px;
    text-align: center;
    float: left;
    
}

.clear{
    clear: both;
}