.name
{
    display: flex;
    background-color: rgb(41, 33, 44);
    border: rgb(62, 40, 9) solid 2px ;
    color: rgb(147, 147, 147);
    margin: 5px;
   

}
.page
{
    bottom: 0;
    padding: 0;
    margin: 0 auto;
}
.head
{
    background-size:cover ;
    display: flex;
    background-color:rgba(255, 255, 255, 0.501) ;
    color: rgb(0, 0, 0);
    padding: 5% 15px;
    width: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.info
{
    display: block;
    border: 15px;
}
.body
{
    display: flex;
    background-color: #fffefe81;
    color: rgb(0, 0, 0);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding: 5% 15px;
    width: 100%;
}
.exemple
{
    display: flex;
    border: 15px;
}

.end
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.500);
    color: #000;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding: 5% 15px;
    margin: 0px;
    width: 100%;
}
.qaa
{
    display: flex;
   
}
body
{
    height: 140vh;
    background-repeat:no-repeat;
    background-size: 1700px 1200px ;
   background-attachment: fixed;
   background-image:url(bodyfon.jpg) ;


}
a
{
    padding: 15px;
    margin: 3px;
    border: rgb(62, 40, 9) solid 2px ;
   
}