<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="Cheeseburger.css">
	<title>Turkish Cheese Sandwich</title>
 </head>
 <body>
	<div>
		<input type="checkbox" id="checkbox">
		<div class="BlueCircle">
			<label for="checkbox" class="button">
				<span>
				</span>
			</label>
		</div>
		<div class="GoldWrapper">	
			<div class="links link1"><a href="#title">Title</div>
			<div class="links"><a href="#">Text</div>
			<div class="links"><a href="#">Video</div>
			<div class="links"><a href="#">Audio</div>
			<div class="links"><a href="#">Form</div>
			<div class="links"><a href="#">Gallery</div>
		</div>
	</div>
 </body>
 </html>