<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Untitled-1.css">
</head>

<body>
    <ul class="textaligh">
        <li class="left">Left</li>
        <li class="center">Center</li>
        <li class="right">Right</li>
    </ul>
    <ul class="textcolor">
        <li class="graytext">Gray</li>
        <li class="blacktext">Black</li>
        <li class="whitetext">White</li>
    </ul>
    <ul class="font">
        <li class="couriernew">Font Courier New</li>
        <li class="Helvetica">Font Helvetica</li>
        <li class="arial">Font Arial</li>
        <ul class="background">
            <li class="gray">Gray background</li>
            <li class="black">Black background</li>
            <li class="white">White background</li>
        </ul>
    </ul>
</body>

</html>