body {
  padding: 0;
  margin: 0;
}
#nav {
  height: 7vh;
  border: 1px solid lightgrey;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.menu-button {
  display: block;
  margin: 10px 20px;
  color: rgb(59, 59, 59);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  transition: all 1s;
}
.menu-button:visited,
.menu-button:hover {
  color: black;
  background-color: #dfdddd;
  cursor: pointer;
  transition: all 1s;
}

#app {
  display: flex;
}
#panel {
  width: 20%;
  border-right: 1px solid lightgrey;
  overflow-y: scroll;
  height: 90vh;
  padding: 10px;
}
#site {
  width: 80%;
  overflow-y: scroll;
  height: 90vh;
}

/* flex */
.flex {
  display: flex;
}
.direction-col {
  flex-direction: column;
}
.self-center {
  align-self: center;
}
.justify-between {
  justify-content: space-between;
}

button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

.align-center {
  align-items: center;
}
/* Accordion */
.accordion_item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.accordion_item.active .accordion_content {
  display: block;
}

.accordion_item.active .accordion_header {
  border-bottom-color: #e5e5e5;
}

.accordion_item.active .accordion_header:after {
  transform: rotate(-45deg);
}

.accordion_header {
  padding: 15px 20px 15px 65px;
  border-bottom: 1px solid transparent;

  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.accordion_header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion_content {
  padding: 15px 20px;
  color: #999;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;

  display: none;
}

.accordion_title {
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 550;
}
