@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
}
#nav {
  height: 7vh;
  border: 1px solid lightgrey;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.menu-button {
  display: block;
  font-family: "Roboto", sans-serif;
  margin: 10px 20px;
  color: rgb(59, 59, 59);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  transition: all 1s;
}
.menu-button:visited,
.menu-button:hover {
  color: black;
  background-color: #dfdddd;
  cursor: pointer;
  transition: all 1s;
}

#app {
  display: flex;
}
#panel {
  width: 20%;
  border-right: 1px solid lightgrey;
  overflow-y: scroll;
  height: 90vh;
  padding: 10px;
}
#site {
  width: 80%;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
}

/* flex */
.flex {
  display: flex;
}
.direction-col {
  flex-direction: column;
}
.self-center {
  align-self: center;
}
.justify-between {
  justify-content: space-between;
}

button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;

  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 15px;
  transition: 0.3s ease;
  margin: 3px;
}

button:hover {
  background-color: #dfdddd;
  cursor: pointer;
}

.align-center {
  align-items: center;
}
/* Accordion */
.accordion_item {
  border: 1px solid #000000;
  border-radius: 3px;

  margin-bottom: 10px;
}

.accordion_item.active .accordion_content {
  display: block;
}

.accordion_item.active .accordion_header {
  border-bottom-color: #000000;
  border-bottom-style: dashed;
}

.accordion_item.active .accordion_header:after {
  transform: rotate(-45deg);
}

.accordion_header {
  padding: 10px 50px 10px 20px;
  border-bottom: 1px solid transparent;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: all 1s;
}
.accordion_header:hover {
  background-color: #dfdddd;
  transition: all 1s;
}

.accordion_header:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion_content {
  padding: 15px 20px;
  color: black;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  display: none;
}

.accordion_title {
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 550;
}
