body {
  padding: 0;
  margin: 0;
}
#nav {
  height: 7vh;
  border: 1px solid lightgrey;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.menu-button {
  display: block;
  margin: 10px 20px;
  color: rgb(59, 59, 59);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  transition: all 1s;
}
.menu-button:visited,
.menu-button:hover {
  color: black;
  background-color: #dfdddd;
  cursor: pointer;
  transition: all 1s;
}

#app {
  display: flex;
}
#panel {
  width: 20%;
  border-right: 1px solid lightgrey;
  overflow-y: scroll;
  height: 90vh;
  padding: 10px;
}
#site {
  width: 80%;
  overflow-y: scroll;
  height: 90vh;
}

/* flex */
.flex {
  display: flex;
}
.direction-col {
  flex-direction: column;
}
.self-center {
  align-self: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
