<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>гамб меню</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="menu-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>
	<main>	
		<h1 name="h1_1">Привет</h1>
		<h1 name="h1_2">что-то</h1>
		<h2 name="h2_1">Пока</h2>
		<h2 name="h2_2">АААААА</h2>
		<p name="p_1">Зачем?</p> 
		<p name="p_2">Покачену</p>
	</main>
	<div class="menu">

	</div>
	<script src="script.js"></script>
</body>
</html>