header {
  /* background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  background-image: linear-gradient(
    to right bottom,
    rgb(126, 213, 111) rgb(40, 180, 133)
  );
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa); */
  align-items: center;
  /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  padding: 5% 15px; */
  /* font-family: 'Amatic SC', cursive;
  font-family: 'Caveat', cursive; */
  /* font-family: "Gill Sans", sans-serif; */
  text-align: justify;
  font-weight: 400;
  line-height: 1.2;
  padding: 40px 0;
}
header h1 {
  margin: 0;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  text-transform: uppercase;
}
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li {
  display: inline;
}
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 550px;
  text-align: center;
}
#navbar a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  border-radius: 2px;
  transition: all 1s;
}
#navbar a:hover {
  background-color: #fff;
  transition: all 1s;
}

/* background variants */
.headerBackgroundGreen {
  background-image: linear-gradient(
    to right bottom,
    rgb(126, 213, 111),
    rgb(40, 180, 133)
  );
}
.headerBackgroundBlue {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.headerBackgroundOrange {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
#header.headerBackgroundGreen a:hover {
  color: rgb(40, 180, 133);
}
#header.headerBackgroundBlue a:hover {
  color: #5643fa;
}
#header.headerBackgroundOrange a:hover {
  color: #ff7730;
}

/* font variants */
.headerFontNunito {
  font-family: "Nunito Sans", sans-serif;
}
.headerFontRoboto {
  font-family: "Roboto", sans-serif;
}
.headerFontGill {
  font-family: "Gill Sans", sans-serif;
}
