<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="header_styles.css" type="text/css"/>
    <meta charset="utf-8">
    <title>header</title>
  </head>
 
  <body>
    <body>
      <form name="Header">
        <div>
          <div>
            <label for="paragraphWithImgBacground">Choose background:</label>
  
            <select
              name="paragraphWithImgBacground"
              id="paragraphWithImgBacground"
            >
              <option value="">--Please choose an option--</option>
              <option value="paragraphWithImgBackgroundGreen">Green</option>
              <option value="paragraphWithImgBackgroundBlue">Blue</option>
              <option value="paragraphWithImgBackgroundOrange">Orange</option>
            </select>
          </div>
          <div>
            <label for="paragraphWithImgFont">Choose font family:</label>
  
            <select name="paragraphWithImgFont" id="paragraphWithImgFont">
              <option value="">--Please choose an option--</option>
              <option value="paragraphWithImgFontLato">Lato</option>
              <option value="paragraphWithImgFontCursive">Cursive</option>
              <option value="paragraphWithImgFontGill">Gill Sans</option>
            </select>
          </div>
          <div>
        <button type="submit">Add</button>
        <hr />
      </form>
  </body>
</html>