<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="header_styles.css" type="text/css" />
  <meta charset="utf-8">
  <title>header</title>
</head>

<body>

  <body>
    <form name="Header">
      <div>
        <div>
          <label for="paragraphWithImgBacground">Выберите фон:</label>

          <select name="paragraphWithImgBacground" id="paragraphWithImgBacground">
            <option value="">--Please choose an option--</option>
            <option value="paragraphWithImgBackgroundGreen">Зеленый</option>
            <option value="paragraphWithImgBackgroundBlue">Синий</option>
            <option value="paragraphWithImgBackgroundOrange">Оранжевый</option>
          </select>
        </div>
        <div>
          <label for="paragraphWithImgFont">Выберите шрифт:</label>

          <select name="paragraphWithImgFont" id="paragraphWithImgFont">
            <option value="">--Please choose an option--</option>
            <option value="paragraphWithImgFontNunito">Nunito</option>
            <option value="paragraphWithImgFontRoboto">Roboto</option>
            <option value="paragraphWithImgFontGill">Gill Sans</option>
          </select>
        </div>
        <div>
          <button type="submit">Добавить</button>
          <hr />
    </form>
  </body>

</html>