<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./paragraphWithImg.css" />
  <title>Document</title>
</head>

<body>
  <div
    class="paragraphWithImg paragraphWithImgRight paragraphWithImgBackgroundOrange paragraphWithImgFontGill paragraphWithImgLarge">
    <p>
      <img src="https://www.meme-arsenal.com/memes/50569ac974c29121ff9075e45a334942.jpg" alt="Raccoon" />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem
      magnam consectetur porro voluptatibus voluptatum quos quae tenetur.
      Error ipsa sunt voluptas laudantium possimus veritatis assumenda
      provident. Sit facilis illum eveniet quod labore ut sunt. Cum unde nisi
      eius alias, corrupti quod dolore laborum perspiciatis nobis aspernatur
      tempore mollitia magni. Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Tenetur ad commodi eligendi cumque, harum quos impedit
      neque temporibus mollitia porro delectus rerum ipsam velit ipsa nam?
      Officiis quae voluptatibus, labore iste mollitia exercitationem sequi
      pariatur deleniti ex accusantium fugit non, saepe similique a in officia
      laboriosam excepturi reprehenderit dolor necessitatibus.
    </p>
    <div style="clear: both"></div>
  </div>
</body>

</html>