<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    form {
      width: 10%;
    }

    .form-group div {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>

<body>
  <form name="gallery">
    <h5>Gallery</h5>
    <div>
      <label for="galleryHeader">Заголовок:</label>
      <input id="gallery" name="galleryHeader" placeholder="Заголовок галереи" />
    </div>
    <div>
      <label for="">Img links:</label>
      <input id="galleryImgLink1" name="imgLink1" placeholder="Ссылка на картинку 1" />

      <input id="galleryImgLink2" name="imgLink2" placeholder="Ссылка на картинку 2" />

      <input id="galleryImgLink3" name="imgLink3" placeholder="Ссылка на картинку 3" />

      <input id="galleryImgLink4" name="imgLink4" placeholder="Ссылка на картинку 4" />

      <input id="galleryImgLink5" name="imgLink5" placeholder="Ссылка на картинку 5" />
    </div>

    <div>
      <div>
        <label for="galleryBackground">Выберите фон:</label>

        <select name="galleryBackground" id="galleryBackground">
          <option value="">--Please choose an option--</option>
          <option value="galleryBackgroundGreen">Зеленый</option>
          <option value="galleryBackgroundBlue">Синий</option>
          <option value="galleryBackgroundOrange">Оранжевый</option>
        </select>
      </div>
      <div>
        <label for="galleryHeaderFont">Выберите шрифт:</label>

        <select name="galleryHeaderFont" id="galleryHeaderFont">
          <option value="">--Please choose an option--</option>
          <option value="galleryHeaderFontLato">Lato</option>
          <option value="galleryHeaderFontCursive">Cursive</option>
          <option value="galleryHeaderFontGill">Gill Sans</option>
        </select>
      </div>
    </div>
    <button type="submit">Добавить</button>
    <hr />
  </form>
</body>

</html>