<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обратная Связь</title>
</head>
<body>
    <div class="container"></div><div class="right-side">
        <link rel="stylesheet" href="style.css">
        
        <div class="topic-text">Отправьте нам сообщение</div>

        
        <p>
          Если у вас имеются вопросы-обратитесь
          в нашу службу обратной связи.
        </p>

        <form action="#">
          
          <div class="input-box">
            <input type="text" placeholder="Ваше имя" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="Введите email" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="Введите телефон" />
          </div>
          <div class="input-box message-box">
            <textarea placeholder="Сообщение"></textarea>
          </div>
          <div class="button">
            <input type="button" value="Отправить" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <script
    src="https://kit.fontawesome.com/fce9a50d02.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>